---
layout: default
title: Parth Nagori
cover: 'assets/images/pir_panjal.jpg'
profile_photo: 'assets/images/profile_photo.jpg'
class: 'home-template'
navigation: True
logo: 'assets/images/ghost.png'
current: home
---
<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header  -->
<header class="main-header parallax {% if page.cover %}"
        style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        <!-- {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %} -->
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <img class="profile-photo" src="{{site.baseurl}}{{page.profile_photo}}">
            <h1 class="page-title index-title-font hover-text">{{ site.name }}</h1>
            <div class="" style="text-align: center; overflow: auto">
        <ul class="list-inline" style="display: inline-block; margin-top: 2em">
            <li class="custom-li"><a class= "icon" href="https://www.facebook.com/parthnagori"> <i class="fa fa-facebook"></i></a></li>
            <li class="custom-li"><a class= "icon" href="https://twitter.com/TheWittyBot"> <i class="fa fa-twitter"></i></a></li>
            <li class="custom-li"><a class= "icon" href="https://www.linkedin.com/in/parth-nagori/"> <i class="fa fa-linkedin"></i></a></li>
            <li class="custom-li"><a class= "icon" href="https://github.com/parthnagori/"> <i class="fa fa-github"></i></a></li>
            <li class="custom-li"><a class= "icon" href="https://www.quora.com/profile/Parth-Nagori"> <i class="fa fa-quora"></i></a></li>
            <li class="custom-li"><a class= "icon" href="mailto:pnagori@ncsu.com"> <i class="fa fa-envelope"></i></a></li>
        </ul>
        </div>
            <!-- <h2 class="page-description hover-text">{{ site.description }}</h2> -->
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content about-content" role="main">

    <header class="post-header">
        <h1 class="post-title" style="text-align: center">About me</h1>
    </header>

    <section class="post-content">
        <p>Hey, I'm Parth, a first year Master's student in Computer Science at <a style="color: chocolate" href="https://www.ncsu.edu/">North Carolina State University</a>.</p>
        <p>I intend to do a specialization in Data Science. My coursework for Fall '17 is CSC505, CSC522, CSC591-002.</p>
        <p>I did my Bachelor's in Computer Engineering from <a style="color: chocolate" href="http://www.unipune.ac.in/">University of Pune</a> in 2014.</p>
        <p>I have also worked in the industry for 3 years. My last role was of a Full Stack Developer at a startup in Mumbai.</p>
        <p>I'm actively seeking internship opportunities for Summer '18.</p>
        <p>Please find my resume <a style="color: chocolate" href="./Resume.pdf" target="_blank">here</a>.</p>
    </section>

    
</main>
